src
tsconfig.json
tsconfig.build.json
tsconfig.base.json
jest.config.json
coverage
.vscode
.circleci
tslint.json
.git
.nvmrc
.travis.yml
jest.config.js
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
db.json